<earthen-loyalty-launcher
  class="earthen-loyalty-launcher"
  data-login-url="{{ routes.account_login_url }}"
  data-cart-url="{{ routes.cart_url }}"
  hidden
>
  <button
    class="earthen-loyalty-launcher__button"
    type="button"
    data-loyalty-launcher-button
    aria-expanded="false"
    aria-controls="earthen-loyalty-launcher-panel"
  >
    <span class="earthen-loyalty-launcher__mark" aria-hidden="true">EP</span>
    <span class="earthen-loyalty-launcher__label">Rewards</span>
    <span class="earthen-loyalty-launcher__value" data-loyalty-launcher-value></span>
  </button>

  <div
    id="earthen-loyalty-launcher-panel"
    class="earthen-loyalty-launcher__panel"
    data-loyalty-launcher-panel
    hidden
  >
    <div class="earthen-loyalty-launcher__panel-header">
      <div>
        <p class="earthen-loyalty-launcher__eyebrow">Earthen Points</p>
        <h2 class="earthen-loyalty-launcher__title">Your rewards</h2>
      </div>
      <button
        class="earthen-loyalty-launcher__close"
        type="button"
        data-loyalty-launcher-close
        aria-label="Close rewards"
      >
        &times;
      </button>
    </div>
    <div class="earthen-loyalty-launcher__body" data-loyalty-launcher-body></div>
  </div>
</earthen-loyalty-launcher>
